html, body {
  min-height:100vh;
}

.App {
  width: 100vw;
  height:  100vh;
  background-image: url('./../public/background.png');
  background-size: cover;
  background-position: center;
  margin: 0;
}

/* .rowsLayout{
  align-items: center;
  height: fit-content;
  width: 100vw;
  display: flex;
  flex-direction: column;
} */


.searchRow {
  align-items: center;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: blanchedalmond;  

}

.navAndContentRowGrid {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: blanchedalmond;
}

.videoPlayer {
  aspect-ratio: 9/16;
  max-height: 800px;
  
}
.player-wrapper{
  width: auto;
  height: auto;
}
.react-player {
  position:relative;
}
.react-player > div{
  position:absolute;
}

#video-wrapper{
  display: flex;
  align-items: center;
  margin:auto;
}

.LikeButton{
  cursor: pointer;
}

.searchContainer { 
  
  position:relative;
  padding:0;
  margin:0;
}
.searchInput { 
  height:20px;
  margin:0;
  padding-left:30px;
  border-radius: 25px;
}
.searchImage {
  position:fixed;
  bottom:8px;
  left:10px;
  width:10px;
  height:10px;
}
.navbarAndContent{
  object-fit: fill;
  height: 100%;
  margin: 30px;
  border-radius: px;
  display: flex;
}
.sideBar {
  position: relative;
height: 100%
}
.videoComments{
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 255, 223);
  height: 600px;
  width:300px;
}
.videoComments > div{
  display: flex;
  align-items: center;
  justify-content: left;
}
.videoPlaylist {
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 255, 223);
  width: 300px;
  height: 600px;
}
.videoPlaylist > FormGroup > FormControlLabel{
  align-items:center;
  justify-content: center;
}
.sidebarIcon{
  height:80px;
  width:80px;
  align-self: center;
}
.videoSidebar{
  display:flex;
  flex-direction: column;
  width: 100px;
}
.commentPic{
  height:20px;
  width:20px;
}
.searchSectionWrapper{
  display:flex;
  align-items: center;
  margin:auto;
}
.searchMainList{
  display:flex;
  flex-direction: column;
  background-color: rgb(204, 255, 223);
  height:800px;
  width: 500px;
}

.MuiListItemText-primary {
  text-align: center;
}
.upload-wrapper{
  display:flex;
  margin:auto;
  align-items: center;
  justify-content: center;

}
.uploadFile {
  display:flex;
  align-items: center;
  justify-content: center;
  height:50vw;
  max-width: 70vw;
  max-height: 50vw;
  width:75vw;
  margin: 5px;
  background-color: rgb(204, 255, 223);
}
.uploadButton, .uploadFile > div{
  margin:auto;
}
.mainLogo{
  height: 80px;
  width: 80px;
  border-radius: 25%;
  margin-left: 20px;
  margin: 5px;
}
.profile {
  height: 80px;
  width: 80px;
}
.profilePhoto {
  height: 100px;
  width: 100px;
 object-fit: fit;
}

.profileContainer, .followingContainer, .playListContainer{
  display:flex;
  margin: auto;
  height:50vw;
  max-width: 70vw;
  max-height: 50vw;
  width:75vw;
  margin: 5px;
  background-color: rgb(204, 255, 223);
}


.sideBarComponent {

  height: 100%;
  width: 250px;
  background-color: #9898FB;
  border-radius: 20px;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .SidebarRow {
  width: 100%;
  height: 60px;
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: row;
  color: white;
  align-items: center;
  font-family: sans-serif;
}

.SidebarList .SidebarRow:hover {
  cursor: pointer;
  background-color: #FB9898;
}

.SidebarRow #sidebarIcon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.SidebarRow #sidebarTitle {
  flex: 70%;
}