.appVideo{
    position: relative;
    height: 75vh;
    background-color: white;
    aspect-ratio: 9/16;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    overflow: scroll;
    scroll-snap-type: y mandatory;
    box-shadow: 2px 1px 1px 1px #ccc;
}

.appVideo::-webkit-scrollbar {
    display: none;
}
.appVideo {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.videoCard {
    position: relative;
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
}
.videoPlayer {
    object-fit: fill;
    height: 100%;
    width: 100%;

}

.video-card-wrapper{
    margin:auto;
}


/* For the Video player sidebar. Like, Comment, Add to the playlist */
.videoCardSidebar {
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    height: 90%;
    color: white;
    padding-bottom: 50px;

    
}

.videoCardSidebar > * {
    padding-right: 5px;
}
.addBtnVPNF {
    color: white;
}
